<h1>Create a Team and Heroes!</h1>

<form action="/teams" method="post">
  <label for="team_name"> Team Name: </label>
  <input type="text" id="team_name" name="team[name]">
  <label for="team_motto"> Team Motto: </label>
  <input type="text" id="team_name" name="team[motto]">

  <h2>Hero 1</h2>
  <label for="member1_name"> Hero's Name: </label>
  <input type="text" id="member1_name"" name="team[members][][name]">
  <label for="member1_power"> Hero's Power: </label>
  <input type="text" id="member1_power" name="team[members][][power]">
  <label for="member1_bio"> Hero's Biography: </label>
  <input type="text" id="member1_bioe" name="team[members][][bio]">

  <input type="submit" name="submit" value="submit">
</form>
