<h1>Create a Team and Heroes!</h1>

<form action="/teams" method="post">
  <label for="team_name"> Team Name: </label>
  <input type="text" id="team_name" name="team[name]">
  <label for="team_motto"> Team Motto: </label>
  <input type="text" id="team_name" name="team[motto]">

  <input type="submit" name="submit" value="submit">
</form>
